body {
   background-color: rgb(219, 218, 192);
   font-family: "Segoe UI", "Tahoma", "Geneva", "Verdana", sans-serif;
   margin: 0;
}

header {
   background-image: url(../img/header-background.jpeg);
   background-position: center;
   background-size: cover;
   background-color: rgb(37, 89, 31);
   position: fixed;
   width: 100%;
   top: 0;
   color: antiquewhite;
   text-shadow: rgb(25, 39, 13) 1px 1px;
   padding: 2.25rem;
   margin: 0;
   z-index: 1;
}

h1, h2, h3, h4, h5, h6, .title, .subtitle {
   font-family: "Alike Angular", serif;
   text-align: center;
   font-weight: bold;
   margin: 0.25rem;
}

.title {
   margin-top: 5rem;
}

.subtitle {
   font-size: 1.25rem;
   margin-bottom: 1rem;
}

main {
   margin-left: 4rem;
   margin-right: 4rem;
}

footer {
   background-image: url(../img/footer-background.jpeg);
   background-position: center;
   background-size: cover;
   background-color: rgb(53, 36, 12);
   width: 100%;
   position: static;
   bottom: 0;
   text-align: center;
   color: antiquewhite;
   text-shadow: rgb(25, 39, 13) 1px 1px;
   padding-top: 0.2rem;
   padding-bottom: 0.2rem;
}

.topnav {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   overflow: hidden;
}

.topnav a {
   float: left;
   display: block;
   color: antiquewhite;
   text-align: center;
   text-decoration: none;
   padding: 1.5rem 2rem;
   font-size: 1.125rem;
}

.topnav a.active {
   background-color: rgb(170, 170, 170, 0.5)
}

#login {
   float: right;
}

.highlight .card {
   margin: 0 0.25rem 0.25rem;
}

.highlight p {
   color: antiquewhite;
   font-style: italic;
   text-indent: 1rem;
   text-shadow: rgb(25, 39, 13) 1px 1px;
   background-color: rgba(100, 100, 100, 0.5);
   padding-top: 0.5rem;
   padding-bottom: 0.5rem;
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   border-radius: 0 0 0.5rem 0.5rem;
}

a {
   color: inherit;
}

.trail-data {
   text-align: center;
   align-items: center;
}

.trail-data a {
   text-decoration: none;
}

.trail-data .card {
   min-width: fit-content;
   max-width: 9rem;
   margin: 0 0.25rem 0.5rem;
   background-color: antiquewhite;
}

.trail-data .card-title {
   margin-top: 0.5rem;
   margin-bottom: 0;
   font-size: 0.9rem;
}

.trail-data .card-text {
   margin-bottom: 0.5rem;
   font-size: 0.75rem;
}

.hike-description {
   text-align: justify;
}

#map {
   position: static;
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 1rem;
   margin-top: 1rem;
   border-radius: 0.5rem;
   width: 75%;
}

#map-search-bar {
   position: static;
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 0.5rem;
   margin-bottom: 0.5rem;
}